{% extends 'secretary/dashboard/watchman-index.html' %} 

{% block content %}     
<section class="content home">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>Profile <small class="text-muted">Welcome to Oreo</small></h2>
                    </div>            
                    <div class="col-lg-7 col-md-7 col-sm-12 text-right">
                        
                        
                                                    <button class="btn btn-white btn-icon btn-round d-none d-md-inline-block float-right m-l-10" type="button">
                                <i class="zmdi zmdi-edit"></i>
                            </button>
                        
                        <ul class="breadcrumb float-md-right">
                            <li class="breadcrumb-item"><a href="..\dashboard\index.html"><i class="zmdi zmdi-home"></i> Oreo</a></li>
                                                            <li class="breadcrumb-item">Doctors</li>
                                                                                        <li class="breadcrumb-item active">Profile</li>
                                                    </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid">                
                
    <div class="row clearfix profile-page">
      
        <div class="col-lg-8 col-md-12">
            <div class="card">
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#about">About</a></li>
                    
                </ul>
                <div class="tab-content">
                    <div class="tab-pane body active" id="about">
                        <p>{{vid.visitor_firstname}}  is a respective visitor of this society</p>
                       
                        <hr>
                        <ul class="list-unstyled">
                            <li>
                                <p><strong>Description:</strong>{{vid.description}}</p>
                            </li>
                            <li>
                                <p><strong>Contact:</strong>{{vid.contact}}</p>
                            </li>

                            <li>
                                <p><strong>house_no:</strong>{{vid.house_no}}</p>
                            </li>

                            <li>
                                <p><strong>Society Member:</strong>{{vid.member_firstname}}</p>
                            </li>
                          
                            <li>
                                <p><strong>Gender:</strong>{{vid.gender}}</p>
                            </li>

                            <li>
                                <p><strong>Vechicle Details:</strong>{{vid.vechicle_deatails}}</p>
                            </li>

                            <li>
                                <p><strong>Date:</strong>{{vid.currentdate}}</p>
                            </li>



                
                         
                        </ul>
                       
                    </div>
                                          
                </div>
            </div>
                          
        </div>
    </div>

            </div>
        </section>
{% endblock %}
                