{% extends 'secretary/dashboard/watchman-index.html' %} 

{% block content %} 

<section class="content home">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2> Event List <small class="text-muted">Welcome to Oreo</small></h2>
                    </div>            
                    <div class="col-lg-7 col-md-7 col-sm-12 text-right">
                        
                        
                        
                        <ul class="breadcrumb float-md-right">
                            <li class="breadcrumb-item"><a href="..\dashboard\index.html"><i class="zmdi zmdi-home"></i> Oreo</a></li>
                                                            <li class="breadcrumb-item">Blog</li>
                                                                                        <li class="breadcrumb-item active"> Event List</li>
                                                    </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid">                
                <div class="blog-page">
    <div class="row">
        <div class="col-lg-8 col-md-12 left-box">
            {% for i in eall %}
            
            <div class="card single_post">
                <div class="body">
                    <h3 class="m-t-0 m-b-5"><a href="detail.html">{{i.subject}}</a></h3>
                    <ul class="meta">
                        <li><a href="#"><i class="zmdi zmdi-account col-blue"></i>&emsp; Posted By &nbsp;: &nbsp; chairman {{cid.firstname}} </a></li>
                        <li><a href="#"><i class="zmdi zmdi-time col-blue"></i>&nbsp; &nbsp; {{i.whenpublished}}</a></li>
                    </ul>
                </div>                    
                <div class="body">
                    {% if i.profile_pic %}
                    <div class="img-post m-b-15">
                        <img src="{{i.profile_pic.url}}" alt="Awesome Image">
                    </div>
                    {% endif %}
                    <p>{{i.description}}</p>
                    
                </div>
              
            </div>
            
            {% endfor %}
                           
        </div>
        
    </div>
</div>
            </div>
</section>

{% endblock %}
           