{% extends 'secretary/dashboard/index.html' %}
{% load static %}
{% block content %}

<section class="content home">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        <h2>All Watchman <small class="text-muted">Welcome to Oreo</small></h2>
                    </div>            
                    <div class="col-lg-7 col-md-7 col-sm-12 text-right">
                        
                                                    <button class="btn btn-white btn-icon btn-round d-none d-md-inline-block float-right m-l-10" type="button">
                                <i class="zmdi zmdi-plus"></i>
                            </button>
                        
                        
                        <ul class="breadcrumb float-md-right">
                            <li class="breadcrumb-item"><a href="..\dashboard\index.html"><i class="zmdi zmdi-home"></i> Oreo</a></li>
                                                            <li class="breadcrumb-item">Watchman</li>
                                                                                        <li class="breadcrumb-item active">All Watchman</li>
                                                    </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid">                
                
    <div class="row clearfix">
        <div class="col-md-12">
            <div class="card patients-list">
                <div class="header">
                    <h2><strong>Watchman</strong> List</h2>
                    <ul class="header-dropdown">
                        <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                            <ul class="dropdown-menu dropdown-menu-right slideUp">
                                <li><a href="javascript:void(0);">Action</a></li>
                                <li><a href="javascript:void(0);">Another action</a></li>
                                <li><a href="javascript:void(0);">Something else</a></li>
                            </ul>
                        </li>
                        <li class="remove">
                            <a role="button" class="boxs-close"><i class="zmdi zmdi-close"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs padding-0">
                        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#All">Pending Request</a></li>
                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#approve">Watchman</a></li>
                    </ul>
                        
                    <!-- Tab panes -->
                    <div class="tab-content m-t-10">
                        <div class="tab-pane table-responsive active" id="All">
                            <table class="table m-b-0 table-hover">
                                <thead>
                                    <tr>                                       
                                        <th>Media</th>
                                        <th>Watchmans ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Contact Number</th>
                                        <th>Status</th>
                                        <th colspan="2">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in wid %}
                                    {% if "Approved" not in i.status %}
                                    <tr>
                                        <td><span class="list-icon"><img class="patients-img" src="{{i.profile_pic.url}}" alt=""></span></td>
                                        <td><span class="list-name">{{i.id}}</span></td>
                                        <td>{{i.firstname}}</td>
                                        <td>{{i.lastname}}</td>
                                        <td>{{i.contact}}</td>
                                        
                                        <td>                                      
                                            {% if "Pending" in i.status %}
                                            <span class="" style="color: black;">Pending</span>
                                            {% endif %}
                                            {% if "Rejected" in i.status %}
                                            <span class="" style="color: red;">Rejected</span>
                                            {% endif %}
                                            {% if "Approved" in i.status %}
                                            <span class="" style="color: green;">Approved</span>
                                            {% endif %}   
                                        </td>                                  
                                        <td>
                                            <button class="btn btn-icon btn-neutral btn-icon-mini"><a href="{% url 'watchman_status' pk=i.id status='Approved' %}"><i class="zmdi zmdi-check"></i></a></button>
                                            <button class="btn btn-icon btn-neutral btn-icon-mini"><a href="{% url 'watchman_status' pk=i.id status='Rejected' %}"><i class="zmdi zmdi-close"></i></a></button>
                                        </td>
                                    </tr>
                                    
                                </tbody>
                                {% endif %}
                                {% endfor %}
                            </table>                            
                        </div>
                        <div class="tab-pane table-responsive" id="approve">
                            <table class="table m-b-0 table-hover">
                                <thead>
                                    <tr>                                       
                                        <th>Media</th>
                                        <th>Watchmans ID</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Contact Number</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in wid %}
                                    {% if "Pending" not in i.status %}
                                    <tr>
                                        <td><span class="list-icon"><img class="patients-img" src="{{i.profile_pic.url}}" alt=""></span></td>
                                        <td><span class="list-name">{{i.id}}</span></td>
                                        <td>{{i.firstname}}</td>
                                        <td>{{i.lastname}}</td>
                                        <td>{{i.contact}}</td>
                                        
                                        <td>                                      
                                            {% if "Pending" in i.status %}
                                            <span class="" style="color: black;">Pending</span>
                                            {% endif %}
                                            {% if "Rejected" in i.status %}
                                            <span class="" style="color: red;">Rejected</span>
                                            {% endif %}
                                            {% if "Approved" in i.status %}
                                            <span class="" style="color: green;">Approved</span>
                                            {% endif %}   
                                        </td>                                  
                                        <td>
                                            <button class="btn btn-icon btn-neutral btn-icon-mini"><a href="{% url 'watchman_status' pk=i.id status='Approved' %}"><i class="zmdi zmdi-check"></i></a></button>
                                            <button class="btn btn-icon btn-neutral btn-icon-mini"><a href="{% url 'watchman_status' pk=i.id status='Rejected' %}"><i class="zmdi zmdi-close"></i></a></button>
                                        </td>
                                    </tr>
                                    {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

            </div>
</section>

{% endblock %}
        