<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMAIL</title>
    <style>
        p{
            color:black
        }
    </style>
</head>
<body style="color: red;">
    <h1>Hello {{data.mid.firstname}} </h1>
    <h3>Your one time password is &nbsp;{{data.password}}&nbsp; Please don't share with anybody</h3>
    <p>Welcome to Digital Society</p>
    <p>you can easily access your notices , meetings and all Society members.</p>
</body>
</html>